@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #144c7d;
  --secondary: #f03449;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}

.primary_btn {
  background: var(--primary);
  color: #fff;
  padding: 7px 10px;
  border-radius: 6px;
  font-size: 14px;
}

.gradient_heading {
  font-weight: 700;
  letter-spacing: -0.04em;
  background: linear-gradient(137.59deg, #555 20%, #000 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

input,
textarea,
select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px;
  outline: none;
  font-size: 15px;
  color: #777;
}

label {
  font-size: 14px;
  color: #555;
  margin-bottom: 4px;
  display: block;
}

/* -------------------------------------------- */
.admin_sidebar {
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  width: 300px;
  left: -0%;
  top: 0;
  padding: 0px 15px;

  scrollbar-width: none;
}

.admin_sidebar::-webkit-scrollbar {
  display: none;
}

.admin_content {
  width: calc(100% - 300px);
  background: #cad9e721;
  min-height: 100vh;
  position: relative;
  left: 300px;
}

.admin_siderbar_item ul li a,
.admin_siderbar_item ul li button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.admin_siderbar_item ul li button div {
  width: calc(100% - 33px);
}

.admin_siderbar_item ul li a:hover,
.admin_siderbar_item ul li button:hover {
  padding: 10px;
  box-shadow: 0px 0px 10px 0px #00000021;
}

.admin_siderbar_item ul li a i,
.admin_siderbar_item ul li button i {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #fff;
  color: #333;
  box-shadow: 0px 0px 10px 0px #00000021;
  font-size: 17px;
}

.admin_siderbar_item .active {
  padding: 10px;
  box-shadow: 0px 0px 10px 0px #00000021;
  color: var(--primary);
}

.admin_siderbar_item .active i {
  background: var(--primary);
  color: #fff;
}

.admin_siderbar_item .dropdown {
  display: none;
  transition: all 0.3s ease;
}

.admin_siderbar_item .dropdown_show {
  display: block;
  transition: all 0.3s ease;
}

.admin_siderbar_item .dropdown ul li a,
.admin_siderbar_item .dropdown ul li button {
  padding: 8px 8px 8px 55px;
  position: relative;
  color: #747474;
}

.admin_siderbar_item .dropdown ul li a:hover,
.admin_siderbar_item .dropdown ul li button:hover {
  color: var(--primary);
  box-shadow: none !important;
}

.admin_siderbar_item .dropdown ul li a.active::before {
  width: 8px;
  height: 8px;
}

.admin_siderbar_item .dropdown > ul > li > a::before,
.admin_siderbar_item .dropdown > ul > li > button::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #6d6d6d;
  border-radius: 50%;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.admin_siderbar_item .dropdown ul li button.active {
  color: var(--primary);
  box-shadow: none !important;
}

.admin_siderbar_item .dropdown ul li a.active {
  color: var(--primary);
  box-shadow: none !important;
}

.admin_siderbar_item .subDropdown ul li a {
  padding: 8px 8px 8px 65px;
  color: #898989;
}

.admin_siderbar_item .subDropdown {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.admin_siderbar_item .subDropdown_show {
  max-height: 300px;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 1024px) {
  .admin_sidebar {
    transform: translateX(-100%);
    z-index: 9999;
    left: -1%;
    transition: all 0.3s ease;
  }

  .admin_sidebar_show {
    transform: translateX(0%);
  }

  .admin_content {
    width: 100%;
    left: 0;
    padding: 10px;
  }
}

/*--------------------table------------------------ */
.border_table {
  @apply w-full text-sm text-gray-600;
}

.border_table thead {
  @apply border-b;
}

.border_table thead th {
  @apply bg-transparent px-5 py-3 text-start text-sm font-medium;
}

.border_table tbody tr {
  @apply border-b;
}

.border_table tbody tr:last-child {
  @apply border-b-0;
}

.border_table tbody td {
  @apply px-5 py-2 text-start text-[13px] font-normal;
}

/* --------------Text editor------------------ */
.jodit-status-bar {
  display: none !important;
}

.h400 .jodit-workplace {
  height: 400px !important;
}

/* scrollbar */
.scrollbar::-webkit-scrollbar {
  background-color: #fff;
  height: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #ddddddb5;
  border-radius: 5px;
  cursor: move;
}

/* --------------------Date picker------------------------ */
.date_ranger .rmdp-container {
  height: auto !important;
  width: 100% !important;
}

.date_ranger input.rmdp-input {
  padding: 6px !important;
  height: 36px !important;
  width: 100%;
  border: 1px solid #ddd;
  margin: 0 !important;
}

.date_ranger .rmdp-input:focus {
  box-shadow: none !important;
  outline: none !important;
}

.rmdp-day.rmdp-disabled {
  display: none;
}

.rmdp-range {
  background-color: var(--primary) !important;
  box-shadow: none !important;
}

.rmdp-day.rmdp-today span {
  background-color: var(--primary) !important;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #144c7d46 !important;
}

.rmdp-range-hover {
  background-color: #144c7d46 !important;
  color: #222 !important;
}

.rmdp-week,
.rmdp-ym {
  justify-content: center !important;
}

.rmdp-week-day {
  color: #4f4f50 !important;
}

.rmdp-arrow-container:hover {
  background-color: var(--primary) !important;
  box-shadow: 0 0 3px #144c7d46 !important;
}

.rmdp-arrow {
  border-color: var(--primary) !important;
}

@media only screen and (max-width: 580px) {
  .rmdp-day-picker {
    flex-direction: column !important;
  }

  .date_ranger input.rmdp-input {
    min-width: max-content !important;
  }
}

.filter_date_ranger {
  width: 100%;
}

.filter_date_ranger input.rmdp-input {
  height: 40px;
  border-radius: 0px 5px 5px 0px;
  margin: 0;
  border-color: #ddd;
  width: 100% !important;
}

.filter_date_ranger .rmdp-container {
  width: 100% !important;
}

/* --------------taginput------------------ */
.react-tagsinput-input {
  margin: 0px !important;
}

.react-tagsinput {
  border-radius: 4px !important;
  padding: 3px !important;
}

.react-tagsinput--focused {
  border-color: #ddd !important;
}

.react-tagsinput-tag {
  background-color: #ddd !important;
  border: none !important;
  color: #333 !important;
  padding: 2px 4px !important;
  margin-bottom: 0 !important;
}

input.react-tagsinput-input {
  width: max-content !important;
}

.react-tagsinput input {
  border: none !important;
}

/*--------------------table------------------------ */
table {
  border-collapse: collapse;
  width: 100%;
}

.border_table {
  border: 1px solid #ddd;
}

.border_table {
  @apply w-full text-sm text-gray-500;
}

.border_table thead {
  @apply border-b;
}

.border_table thead th {
  @apply border-r bg-transparent px-5 py-3 text-start text-sm font-medium;
}

.border_table tbody tr {
  @apply border-b;
}

.border_table tbody td {
  @apply border-r px-5 py-2 text-start text-[13px] font-normal;
}

.border_table tbody tr:last-child,
.border_table thead tr:last-child {
  @apply border-b-0;
}

.border_table thead th:last-child,
.border_table tbody td:last-child {
  @apply border-r-0;
}

.border_table tfoot tr {
  @apply border-t;
}

.border_table tfoot tr th {
  @apply border-r bg-transparent px-5 py-3 text-start text-sm font-medium;
}

/* ---zebra table--- */

.zebra_table thead tr th {
  text-align: start;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
}

.zebra_table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.zebra_table tbody tr td {
  padding: 10px;
  font-size: 15px;
  color: #555;
}

/* invoice table */
.invoice_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #222;
}

.invoice_table thead tr {
  border-bottom: 1px solid #222;
}

.invoice_table thead th {
  padding: 6px 10px;
  text-align: left;
  font-size: 13px;
  color: #fff;
  background: var(--primary);
  border-right: 1px solid #222;
  text-align: center;
}

.invoice_table thead th:last-child {
  border-right: none;
}

.invoice_table tbody tr {
  border-bottom: 1px solid #222;
}

.invoice_table tbody tr td {
  padding: 6px 10px;
  font-size: 13px;
  color: #111;
  border-right: 1px solid #222;
}

.invoice_table tbody tr td:last-child {
  border-right: none;
}

.invoice_table tfoot tr {
  border-top: 1px solid #222;
}

.invoice_table tfoot tr th {
  padding: 6px 10px;
  font-size: 13px;
  color: #111;
  border-right: 1px solid #222;
  font-weight: 600;
}
